.DS_Store
.browse.VC.db
vscode-chrome-debug.txt
npm-debug.log
*.vsix
gulpfile.js
tsconfig.json
tslint.json

lib/
node_modules/
typings/
testapp/.vscode/chrome
testapp/**/out/
test-results.xml
bin
obj
logs
out/test/
testdata/
test/